__pycache__/
*.pyc
.venv*/
venv/
# Protobuf files and Spark tables written by the playground
data/
# Recreated by schema/generate.py
schema/generated/
# Spark's embedded metastore log
derby.log
.ipynb_checkpoints/
